html,
body {
	height: 100%;
}

body {
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	color: $default;
	overflow-x: hidden;
	min-width: 300px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container-fluid {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 10px;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;

	li {
		padding: 0 15px;
	}

	button {
		background-color: $black;
		border: none;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		padding: 0;
		font-size: 0;
	}

	li.slick-active {
		button {
			background-color: #ffef35;
		}
	}
}

.info-email {
	font-weight: 600;
	color: $black;
	font-size: 14px;
	margin-bottom: 22px;
	padding-left: 30px;
	display: inline-block;
	position: relative;

	&::before {
		content: '';
		background-image: url(../images/mail.svg);
		left: 0;
		top: 8px;
		width: 16px;
		height: 12px;
		position: absolute;
	}
}